* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 50px;
}

body {
    background-color: rgb(243, 243, 243);
}

.item1 img {
    border-radius: 50%;
    border: 5px solid rgb(238,61,89);
    width: 300px;
}
/*rgb(249, 38, 105)*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #060616;
}

.logo a:hover {
    opacity: 80%;
    cursor: pointer;
    color: rgb(238,61,89);
}

span {
    color: rgb(238,61,89);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hello {
    font-size: 50px;
}

.logo h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu ul {
    display: flex;
    gap: 40px;
    margin: 25px;
}

.menu ul li {
    padding: 10px 8px;
    list-style: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a:hover {
    opacity: 80%;
    cursor: pointer;
    color: rgb(238,61,89)
}

.menu ul li .button {
    background-color: rgb(238,61,89);
    padding: 5px 5px;
    border-radius: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu button {
    background-color: rgb(238,61,89);
    padding: 6px 15px;
    border-radius: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li .button:hover {
    opacity: 80%;
    cursor: pointer;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 40px;

}

.item {
    color: rgb(0, 0, 0);
}



.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.logo2 img {
    border-radius: 50%;
    border: 5px solid rgb(238,61,89);
    width: 300px;
    margin: 50px;
}

.about {
    margin: 30px;
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about h1 {
    color: rgb(238,61,89)
}

.about a:hover {
    opacity: 80%;
    cursor: pointer;
    color: rgb(238,61,89)
}

.box {
    text-align: center;
    color: rgb(238,61,89)
}

.projcon {
    background-color: black;
    font-size: 30px;
    padding: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projcon button {
    background-color: rgb(238,61,89);
    padding: 12px 15px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    column-gap: 50px;
}

.dis p:hover {
    opacity: 50%;
    cursor: pointer;
    color: rgb(238,61,89);
}

.dis :hover {
    opacity: 50%;
    cursor: pointer;
    color: rgb(238,61,89);
}

.dis img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.dis p {
    color: white;
    text-align: center;
}


.contact .con h1 {
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    padding-top: 50px;
}

.contact .sheet {
    margin-top: 20px;
}

.con button {
    background-color: rgb(238,61,89);
    padding: 12px 18px;
    border-radius: 40px;
    margin-left: 70px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    background-color: white;
    width: 40%;
    margin-left: 40%;
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 12px;
    border-color: black;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    background-color: white;
    width: 40%;
    margin-left: 40%;
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 12px;
    border-color: black;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus-within {
    outline: none;
    border-color: rgb(238,61,89);
    border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(238,61,89);
    border-width: 3px;
}

.sheet button {
    background-color: rgb(238,61,89);
    padding: 8px 15px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-left: 480px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
    color: white;
}

.foot {
    margin: 50px;
    padding: 50px;
    margin-bottom: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}